<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Protech</title>
    <link rel="icon" href="/resources/imgs/logo-white.ico">
    <link rel="stylesheet" href="/resources/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body class="register">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="nav-cont">
        <a href="/" class="navbar-brand">
            <img src="resources/imgs/Protech-logo-white.png" alt="Protech">
        </a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a href="/productos" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">Estadísticas</a>
            </li>
            <li class="nav-item">
                <a href="/usuarios" class="nav-link">Usuarios</a>
            </li>
            <li class="nav-item">
                    <a href="/RegistrarVentas" class="nav-link">Registrar Ventas</a>
                </li>
            <li class="nav-item">
                <a href="aboutUs" class="nav-link">Acerca de</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center mt-5 ">
        <div class="col-lg-4 col-md-8 col-sm-8">
            <div class="card shadow">
                <div class="card-title text-center border-bottom">
                    <h2 class="p-3">Registrar usuario</h2>
                </div>
                <div class="card-body">
                    <form action="/register" method="POST">
                        <div class="mb-4">
                            <label for="empName">Nombre de Empleado</label>
                            <input type="text" class="form-control" name="empName">
                        </div>
                        <div class="mb-4">
                            <label for="empRol">Cargo</label>
                            <select name="empRol" class="form-select">
                                <option value="TECNICO">Técnico</option>
                                <option value="ADMINISTRATIVO">Administrativo</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="userName">Nombre de Usuario</label>
                            <input type="text" class="form-control" name="userName">
                        </div>
                        <div class="mb-4">
                            <label for="password">Contraseña</label>
                            <input type="password" class="form-control" name="password">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-success">Crear usuario</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<% if(typeof alert != 'undefined') {%>
    <script>
        Swal.fire({
            title: '<%= alertTitle%>',
            text: '<%= alertMessage%>',
            icon: '<%= alertIcon%>',
            showConfirmButton: '<%= showConfirmButton%>',
            timer: '<%= timer%>'
        }).then(()=>{
            window.location='/<%= ruta%>'
        })
    </script>
<% } %>
</body>
</html>
